@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

.container-inicio1{
    width: 100%;
    height: 100%;
    background-image: url(img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.container-inicio2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-pla-tar1{
    width: 100%;
    height: 100%;
    background-image: url(img/mujer-entrenamiento.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-pla-tar2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-eq-rama1{
    width: 100%;
    height: 100%;
    background-image: url(img/guantes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-eq-rama2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-galeria1{
    width: 100%;
    height: 100%;
    background-image: url(img/ring-coach.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-galeria2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-contacto1{
    width: 100%;
    height: 100%;
    background-image: url(img/peleador-foco.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-contacto2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes fondo{
    from{background-color: rgb(0, 0, 0);}
    to{background-color: rgba(0, 0, 0, .4);}
}

header{
    width: 100%;
    height: 90%;
}

nav{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
}

.logo img{
    height: 90%;
    margin-top: 10%;
    margin-left: 10%;
}

.bar-btn{
    display: none;
    font-size: 6vw;
    color: #fff;
    margin-right: 5%;
    cursor: pointer;
}

.nav-menu{
    position: relative;
    height: 100%;
    text-align: right;
    margin-right: 1%;
}

.nav-menu li{
    display: inline-block;
    margin: 30px 20px;
}

.nav-menu li a{
    color: #fff;
    font-size: 1.2vw;
    text-shadow: 2px 2px 2px #000;
    text-transform: uppercase;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: rgb(186, 151, 26);
    transition: .3s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu{
    height: 100vh;
}

#check:checked ~ .nav-menu li{
    display: block;
}

.banner-text{
    font-size: 1vw;
    padding: 0 3px;
    margin-top: 1em;
    text-align: center;
    color: #fff;
}

.banner-text h2{
    font-size: 3vw;
    text-shadow: 2px 2px 2px #000;
}
.banner-text h1{
    font-size: 8vw;
    text-shadow: 2px 2px 2px #000;
}

.banner-text span{
    color: rgb(186, 151, 26);
}

.banner-text h3{
    font-size: 2vw;
    text-shadow: 2px 2px 2px #000;
    margin: 2em 0 1em;
}

.button{
    padding: 0.5em 1.5em;
    background-color: rgb(186, 151, 26);
    color: #000;
    font-size: 1.5vw;
    font-weight: 600;
    border-radius: 35px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .9);
    transition: .5s;
}

.button:hover{
    font-size: 2vw;
}

footer{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
}

.pie-pagina p{
    font-size: 1vw;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    padding-top: 2.5em;
} 

@media only screen and (max-width: 1200px) and (orientation: landscape){
    .container-inicio1{
        min-height: 480px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape){
    .container-inicio1{
        min-height: 400px;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
    .container-inicio1{
        min-height: 400px;
    }

    .bar-btn{
        display: block;
    }

    .nav-menu{
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 27%;
        background: rgba(0, 0, 0, .90);
        text-align: center;
        transition: all .5s;
    }

    .nav-menu li{
        display: none;
        line-height: 1.5em;
        margin: 1.5em 0;
        transition: all .5s;
    }

    .nav-menu li a{
        font-size: 2vw;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape){
    .container-inicio1{
        min-height: 200px;
    }

    .nav-menu li{
        display: none;
        line-height: 1em;
        margin: 0.5em 0;
        transition: all .5s;
    }
}

@media only screen and (max-width: 320px) and (orientation: landscape){
    .container-inicio1{
        min-height: 130px;
    }

    .nav-menu li{
        display: none;
        line-height: 0.7em;
        margin: 0.2em 0;
        transition: all .5s;
    }
}

@media all and (orientation: portrait){
    nav{
        height: 20%;
    }
        
    .logo img{
        height: 50%;
        margin-top: 10%;
        margin-left: 10%;
    }   
}

@media only screen and (max-width: 1200px) and (orientation: portrait){
    .container-inicio1{
        min-width: 200px;
    }

    nav{
        height: 30%;
    }

    .logo img{
        height: 60%;
        margin-top: 10%;
        margin-left: 10%;
    }

    .banner-text{
        margin-top: 15em;
    }

    .banner-text h3{
        margin-top: 5em;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait){
    .banner-text{
        margin-top: 20em;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait){
    .container-inicio1{
        min-height: 400px;
    }

    .bar-btn{
        display: block;
    }

    .nav-menu{
        position: fixed;
        width: 100%;
        height: 0vh;
        top: 27%;
        background: rgba(0, 0, 0, .90);
        text-align: center;
        transition: all .5s;
    }

    .nav-menu li{
        display: none;
        line-height: 1.5em;
        margin: 5em 0;
        transition: all .5s;
    }

    .nav-menu li a{
        font-size: 2.5vw;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait){
    .container-inicio1{
        min-height: 200px;
    }

    .nav-menu li{
        display: none;
        line-height: 1em;
        margin: 3em 0;
        transition: all .5s;
    }

    .banner-text{
        margin-top: 27em;
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait){
    .container-inicio1{
        min-height: 130px;
    }

    .nav-menu li{
        display: none;
        line-height: 1em;
        margin: 1.5em 0;
        transition: all .5s;
    }
}