.container-contacto1{
    width: 100%;
    height: 100%;
    background-image: url(img/peleador_guanteDer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-contacto2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-galeria1{
    width: 100%;
    height: 100%;
    background-image: url(img/ring-coach.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-galeria2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.container-pla-tar1{
    width: 100%;
    height: 100%;
    background-image: url(img/mujer-entrenamiento.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.container-pla-tar2{
    width: 100%;
    height: 100%;
    animation-name: fondo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}




@keyframes fondo{
    from{background-color: rgb(0, 0, 0);}
    to{background-color: rgba(0, 0, 0, .4);}
}